import React from 'react';
import ReactDOM from 'react-dom';
import { ApplicationView } from './src/components/ApplicationView';
window.onload = function() {
    ReactDOM.render(<ApplicationView />, document.getElementById('root'));
}
